@import 'google-homepage';

body {
    background: white;
}

//first frame
#g1,#g2,#l,#e, {
  opacity: .5;
}

svg:hover g {
  
  transform: scale(1.1);
}

//last frame

.st1,.st2 :active {
 fill: red;
  
}